/* Home.css */
body {
    background: linear-gradient(to bottom, #dfe4ff, #15297e);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

h1 {
    font-size: 60px;
    margin: 55px 15px 0 0;
}

span {
    font-size: 30px;
    margin: 20px 0;
    width: 65%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home li {
    font-size: 25px;
    list-style: none;
}

/* Secciones de imágenes */
.home-section-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.home-section {
    flex: 1;
    margin: 20px;
    max-width: calc(100% / 3 - 40px);
}

.home-section img {
    max-width: 100%;
    height: auto;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

button {
    background-color: #15297e;
    color: white;
    border: none;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #3050ff;
}

/* Footer */
.footer {
    background-color: #15297e;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: auto;
}

/* Media queries para hacer que los estilos sean responsivos */

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }

    span {
        font-size: 20px;
    }

    .home-section {
        max-width: calc(100% / 2 - 40px);
    }

    .product-container {
        margin: 10px;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    span {
        font-size: 16px;
        width: 90%;
    }

    .home-section {
        max-width: 100%;
    }

    .home-section img {
        height: auto;
    }

    .product-container {
        margin: 5px;
    }
}
