/* Navbar.css */
.navbar {
    background: linear-gradient(to bottom, #95a3f3, #15297e);
    color: white;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.navbar-button {
    display: none;
}

.navbar-logo {
    font-size: 1.75rem;
    text-decoration: none;
    color: white;
    margin-left: 1rem;
}

.navbar-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 1rem;
}

.navbar-link {
    margin: 0.5rem;
    text-decoration: none;
    color: white;
}

.navbar-link:hover {
    text-decoration: underline;
    color: lightgray;
}

/* Media queries para Navbar */
@media (max-width: 768px) {
    .navbar-logo {
        font-size: 1.5rem;
    }

    .navbar-button {
        display: inline;
        font-size: 1rem;
        color: white;
        margin-right: 0.5rem;
    }

}
