/* Navbar.css */
.navbar {
    background: linear-gradient(to bottom, #95a3f3, #15297e);
    color: white;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-button {
    text-decoration: none;
    color: white;
    font-weight: bold; /* Aumenta el grosor de la letra */
    margin-right: 1rem; /* Espacio entre botones */
}

.navbar-logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.navbar-links {
    list-style: none;
    padding-right: 1rem;
    display: flex;
}

.navbar-link {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold; /* Aumenta el grosor de la letra */
}

.navbar-link:hover {
    text-decoration: none; /* Elimina el subrayado al pasar el mouse */
    color: lightgray;
}

/* Media queries para Navbar */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        align-items: center;
    }

    .navbar-link {
        margin: 10px 0;
    }
}
